@charset "UTF-8";




.navbar_navbar__O41pd {
	font-family: "Spoqa Han Sans Neo", -apple-system, BlinkMacSystemFont,
		"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	box-sizing: inherit;
	margin: auto;
	max-width: 1180px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 85px;
	padding: 0 10px;
}

.navbar_postRegister__FJnRS, .navbar_login__3Ui-- {
	box-sizing: inherit;
	outline: none;
	border: none;
	background-color: #fff;
	cursor: pointer;
	font-weight: 600;
	font-size: 1.125rem;
}

.Category_categories__3bwPA {
	font-family: "Spoqa Han Sans Neo", -apple-system, BlinkMacSystemFont,
		"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	box-sizing: inherit;
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	grid-gap: 50px;
	gap: 50px;
	border-bottom: 3px solid #f2f2f2;
	padding-bottom: 20px;
	padding-left: 16px;
	margin-bottom: 30px;
}

.navbar_logo__a5PmC {
	font-family: "Spoqa Han Sans Neo", -apple-system, BlinkMacSystemFont,
		"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	color: inherit;
	box-sizing: inherit;
	width: 105px;
	height: 32px;
}

.navbar_loginElementWrapper__11CeH {
	font-family: "Spoqa Han Sans Neo", -apple-system, BlinkMacSystemFont,
		"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	box-sizing: inherit;
	display: flex;
	grid-gap: 30px;
	gap: 30px;
	align-items: center;
}

.Category_categoryItem__1ko8V { -
	-bs-blue: #0d6efd; -
	-bs-indigo: #6610f2; -
	-bs-purple: #6f42c1; -
	-bs-pink: #d63384; -
	-bs-red: #dc3545; -
	-bs-orange: #fd7e14; -
	-bs-yellow: #ffc107; -
	-bs-green: #198754; -
	-bs-teal: #20c997; -
	-bs-cyan: #0dcaf0; -
	-bs-black: #000; -
	-bs-white: #fff; -
	-bs-gray: #6c757d; -
	-bs-gray-dark: #343a40; -
	-bs-gray-100: #f8f9fa; -
	-bs-gray-200: #e9ecef; -
	-bs-gray-300: #dee2e6; -
	-bs-gray-400: #ced4da; -
	-bs-gray-500: #adb5bd; -
	-bs-gray-600: #6c757d; -
	-bs-gray-700: #495057; -
	-bs-gray-800: #343a40; -
	-bs-gray-900: #212529; -
	-bs-primary: #0d6efd; -
	-bs-secondary: #6c757d; -
	-bs-success: #198754; -
	-bs-info: #0dcaf0; -
	-bs-warning: #ffc107; -
	-bs-danger: #dc3545; -
	-bs-light: #f8f9fa; -
	-bs-dark: #212529; -
	-bs-primary-rgb: 13, 110, 253; -
	-bs-secondary-rgb: 108, 117, 125; -
	-bs-success-rgb: 25, 135, 84; -
	-bs-info-rgb: 13, 202, 240; -
	-bs-warning-rgb: 255, 193, 7; -
	-bs-danger-rgb: 220, 53, 69; -
	-bs-light-rgb: 248, 249, 250; -
	-bs-dark-rgb: 33, 37, 41; -
	-bs-white-rgb: 255, 255, 255; -
	-bs-black-rgb: 0, 0, 0; -
	-bs-body-color-rgb: 33, 37, 41; -
	-bs-body-bg-rgb: 255, 255, 255; -
	-bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
		"Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
		"Noto Color Emoji"; -
	-bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
		"Liberation Mono", "Courier New", monospace; -
	-bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15),
		rgba(255, 255, 255, 0)); -
	-bs-body-font-family: var(- -bs-font-sans-serif); -
	-bs-body-font-size: 1rem; -
	-bs-body-font-weight: 400; -
	-bs-body-line-height: 1.5; -
	-bs-body-color: #212529; -
	-bs-body-bg: #fff; -
	-bs-border-width: 1px; -
	-bs-border-style: solid; -
	-bs-border-color: #dee2e6; -
	-bs-border-color-translucent: rgba(0, 0, 0, 0.175); -
	-bs-border-radius: 0.375rem; -
	-bs-border-radius-sm: 0.25rem; -
	-bs-border-radius-lg: 0.5rem; -
	-bs-border-radius-xl: 1rem; -
	-bs-border-radius-2xl: 2rem; -
	-bs-border-radius-pill: 50rem; -
	-bs-link-color: #0d6efd; -
	-bs-link-hover-color: #0a58ca; -
	-bs-code-color: #d63384; -
	-bs-highlight-bg: #fff3cd;
	font-size: var(- -bs-body-font-size);
	font-weight: var(- -bs-body-font-weight);
	line-height: var(- -bs-body-line-height);
	color: var(- -bs-body-color);
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
	font-family: "Spoqa Han Sans Neo", -apple-system, BlinkMacSystemFont,
		"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	list-style: none;
	box-sizing: border-box;
}

.Category_selectedCategory__1J7es{
    font-family: "Spoqa Han Sans Neo",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    list-style: none;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    display: flex;
    font-weight: 700;
    font-size: 26px;
    line-height: 126.5%;
    cursor: pointer;
    position: relative;
    color: #333;
}

#root {
	font-family: "Spoqa Han Sans Neo", -apple-system, BlinkMacSystemFont,
		"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	box-sizing: inherit;
	min-height: 100%;
}

.content {
	margin-left: 100px;
	margin-right: 100px;
}

.firstBanner_containerWrapper__1QH6h {
	font-family: "Spoqa Han Sans Neo", -apple-system, BlinkMacSystemFont,
		"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	color: inherit;
	box-sizing: inherit;
	background-color: #ff914d;
	margin-bottom: 16px;
}

.firstBanner_container__1M3Ft {
	font-family: "Spoqa Han Sans Neo", -apple-system, BlinkMacSystemFont,
		"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	color: inherit;
	box-sizing: inherit;
	display: flex;
	max-width: 1200px;
	height: 330px;
	padding: 0 20px;
	margin: 0 auto;
}

.firstBanner_leftCover__1KzCe {
	font-family: "Spoqa Han Sans Neo", -apple-system, BlinkMacSystemFont,
		"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	color: inherit;
	box-sizing: inherit;
	flex: 1.5 1;
	margin: auto 0;
}

.firstBanner_title__3ov1t {
	font-family: "Spoqa Han Sans Neo", -apple-system, BlinkMacSystemFont,
		"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	color: inherit;
	box-sizing: inherit;
	display: inline-block;
	font-size: 32px;
	font-weight: 700;
	padding: 0;
	margin: 0;
}

.firstBanner_subContainer__2lho6 {
	font-family: "Spoqa Han Sans Neo", -apple-system, BlinkMacSystemFont,
		"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	color: inherit;
	box-sizing: inherit;
	display: flex;
	align-items: center;
	margin-top: 15px;
}

.firstBanner_subText__1pOla {
	font-family: "Spoqa Han Sans Neo", -apple-system, BlinkMacSystemFont,
		"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	color: inherit;
	box-sizing: inherit;
	font-size: 22px;
	display: block;
}

.firstBanner_rightCover__3Olog {
	font-family: "Spoqa Han Sans Neo", -apple-system, BlinkMacSystemFont,
		"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	color: inherit;
	box-sizing: inherit;
	flex: 1 1;
	margin: auto;
}

.firstBanner_coverImage__1yB1- {
	font-family: "Spoqa Han Sans Neo", -apple-system, BlinkMacSystemFont,
		"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	color: inherit;
	box-sizing: inherit;
	width: 334px;
	height: auto;
	display: block;
}

.secondBanner_containerWrapper__1N-i4 {
	font-family: "Spoqa Han Sans Neo", -apple-system, BlinkMacSystemFont,
		"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	color: inherit;
	box-sizing: inherit;
	background-color: #e06034;
}

.secondBanner_container__1Nu6b {
	font-family: "Spoqa Han Sans Neo", -apple-system, BlinkMacSystemFont,
		"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	color: inherit;
	box-sizing: inherit;
	display: flex;
	max-width: 1200px;
	height: 330px;
	padding: 0 20px;
	margin: 0 auto;
}

.secondBanner_leftCover__1y4GQ {
	font-family: "Spoqa Han Sans Neo", -apple-system, BlinkMacSystemFont,
		"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	color: inherit;
	box-sizing: inherit;
	flex: 1 1;
	margin: auto 0;
}

.secondBanner_promotion__3s4jx {
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	box-sizing: inherit;
	outline: none;
	border: none;
	cursor: pointer;
	font-weight: 700;
	padding: 5px 30px;
	color: #fff;
	background: #b291dd;
	border-radius: 50px;
	margin-bottom: 24px;
}

.secondBanner_title__pzIWX {
	font-family: "Spoqa Han Sans Neo", -apple-system, BlinkMacSystemFont,
		"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	color: inherit;
	box-sizing: inherit;
	display: inline-block;
	font-size: 32px;
	font-weight: 700;
	padding: 0;
	margin: 0 0 15px;
}

.secondBanner_subText__rl70c {
	font-family: "Spoqa Han Sans Neo", -apple-system, BlinkMacSystemFont,
		"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	color: inherit;
	box-sizing: inherit;
	display: block;
	font-size: 22px;
}

.secondBanner_rightCover__3Xm1n {
	font-family: "Spoqa Han Sans Neo", -apple-system, BlinkMacSystemFont,
		"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	color: inherit;
	box-sizing: inherit;
	flex: 1 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.secondBanner_coverImage__1psJQ {
	font-family: "Spoqa Han Sans Neo", -apple-system, BlinkMacSystemFont,
		"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	color: inherit;
	box-sizing: inherit;
	width: 381px;
	height: auto;
	display: block;
}

.desktopFilter_filterWrapper__1gwsT {
	font-family: "Spoqa Han Sans Neo", -apple-system, BlinkMacSystemFont,
		"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	box-sizing: inherit;
	max-width: 1300px;
	width: 100%;
	padding: 0 15px;
	margin: 100px auto 60px;
	position: relative;
}

.Category_categories__3bwPA {
	font-family: "Spoqa Han Sans Neo", -apple-system, BlinkMacSystemFont,
		"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	box-sizing: inherit;
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	grid-gap: 50px;
	gap: 50px;
	border-bottom: 3px solid #f2f2f2;
	padding-bottom: 20px;
	padding-left: 16px;
	margin-bottom: 30px;
}

.Category_categoryItem__1ko8V.Category_selectedCategory__1J7es {
	font-family: "Spoqa Han Sans Neo", -apple-system, BlinkMacSystemFont,
		"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	list-style: none;
	box-sizing: inherit;
	margin: 0;
	padding: 0;
	display: flex;
	font-weight: 700;
	font-size: 26px;
	line-height: 126.5%;
	cursor: pointer;
	position: relative;
	color: #333;
}

.Category_categoryItem__1ko8V {
	font-family: "Spoqa Han Sans Neo", -apple-system, BlinkMacSystemFont,
		"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	list-style: none;
	box-sizing: inherit;
	margin: 0;
	padding: 0;
	display: flex;
	font-weight: 700;
	font-size: 26px;
	line-height: 126.5%;
	color: #848484;
	cursor: pointer;
	position: relative;
}

.LanguageBar_languages__2Ilqf {
	font-family: "Spoqa Han Sans Neo", -apple-system, BlinkMacSystemFont,
		"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	box-sizing: inherit;
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	grid-gap: 15px;
	gap: 15px;
	margin-bottom: 40px;
}

.LanguageBar_languageIcon__Um7GQ.LanguageBar_full__3qQet {
	font-family: "Spoqa Han Sans Neo", -apple-system, BlinkMacSystemFont,
		"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	list-style: none;
	box-sizing: inherit;
	margin: 0;
	display: flex;
	grid-gap: 10px;
	gap: 10px;
	align-items: center;
	border: 1px solid #d0d0d0;
	border-radius: 100px;
	padding: 12px 20px 12px 15px;
	transition: all .1s ease-in;
	cursor: pointer;
	opacity: 1;
	transform: scale(1.02);
}

.LanguageBar_logo__332tN {
	font-family: "Spoqa Han Sans Neo", -apple-system, BlinkMacSystemFont,
		"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	list-style: none;
	cursor: pointer;
	box-sizing: inherit;
	width: 36px;
	height: 36px;
}

.SelectedLanguage_selectedWrapper__2StUQ {
    font-family: "Spoqa Han Sans Neo",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    box-sizing: inherit;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    grid-gap: 30px;
    gap: 30px;
}

.SelectedLanguage_selectedLanguages__DYJjl {
    font-family: "Spoqa Han Sans Neo",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    box-sizing: inherit;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    grid-gap: 30px;
    gap: 30px;
}

.search_container__2ExFE{
    font-family: "Spoqa Han Sans Neo",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    box-sizing: inherit;
    display: flex;
    align-items: center;
    position: absolute;
    grid-gap: 8px;
    gap: 8px;
    top: -5px;
    right: 0;
}

.search_searchImg__2ia6h {
	    font-family: "Spoqa Han Sans Neo",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    box-sizing: inherit;
    display: block;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.search_searchInput__1BF6g {
    box-sizing: inherit;
    height: 2.5rem;
    border-radius: .5rem;
    margin-right: .5rem;
    width: 200px;
    border: none;
    outline: none;
    padding: 0;
    font-weight: 700;
    font-size: 20px;
    animation: search_reveal__1xwGv 1s;
}

.mainContent_main__F2EU9{
	font-family: "Spoqa Han Sans Neo",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    box-sizing: inherit;
    width: 100%;
    max-width: 1300px;
    min-height: 60rem;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.mainContent_main_F2EU9{
    font-family: "Spoqa Han Sans Neo",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    box-sizing: inherit;
    width: 100%;
    max-width: 1300px;
    min-height: 60rem;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.mainContent_categoryWrapper__1n063 {
    font-family: "Spoqa Han Sans Neo",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    box-sizing: inherit;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 2rem;
}

.findMyPosition_selectWrapper__23xHq{
	    font-family: "Spoqa Han Sans Neo",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    box-sizing: inherit;
    position: absolute;
    right: 230px;
}
.css-2b097c-container {
	    font-family: "Spoqa Han Sans Neo",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    position: relative;
    box-sizing: border-box;
}

.css-7pg0cj-a11yText{
	    font-family: "Spoqa Han Sans Neo",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    box-sizing: inherit;
    z-index: 9999;
    border: 0px;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
    position: absolute;
    overflow: hidden;
    padding: 0px;
    white-space: nowrap;
}

.css-1n44zxc-control {
    font-family: "Spoqa Han Sans Neo",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 36px;
    cursor: default;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    min-height: 38px;
    position: relative;
    transition: all 100ms ease 0s;
    box-sizing: border-box;
    width: 190px;
    height: 42px;
    background: white;
    border: 1.5px solid rgb(227, 227, 227);
    outline: 0px !important;
}

.css-1wfrg0q{
    font-family: "Spoqa Han Sans Neo",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    cursor: default;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    flex: 1 1 0%;
    flex-wrap: wrap;
    padding: 2px 8px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    height: 42px;
    margin-left: 8px;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.03em;
}
. css-1wa3eu0-placeholder {
    font-family: "Spoqa Han Sans Neo",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    cursor: default;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.03em;
    color: rgb(128, 128, 128);
    margin-left: 2px;
    margin-right: 2px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    box-sizing: border-box;
}
.css-62g3xt-dummyInput {
    box-sizing: inherit;
    height: 2.5rem;
    border-radius: .5rem;
    margin-right: .5rem;
    background: 0px center;
    border: 0px;
    font-size: inherit;
    outline: 0px;
    padding: 0px;
    width: 1px;
    color: transparent;
    left: -100px;
    opacity: 0;
    position: relative;
    transform: scale(0);
}

.css-1wy0on6{
    font-family: "Spoqa Han Sans Neo",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    cursor: default;
    -webkit-box-align: center;
    align-items: center;
    align-self: stretch;
    display: flex;
    flex-shrink: 0;
    box-sizing: border-box;
}

.css-43ykx9-indicatorSeparator {	
    font-family: "Spoqa Han Sans Neo",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    cursor: default;
    align-self: stretch;
    background-color: rgb(204, 204, 204);
    margin-bottom: 8px;
    margin-top: 8px;
    width: 1px;
    box-sizing: border-box;
    display: none;
}

.css-tlfecz-indicatorContainer {
    font-family: "Spoqa Han Sans Neo",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    cursor: default;
    color: rgb(204, 204, 204);
    display: flex;
    padding: 8px;
    transition: color 150ms ease 0s;
    box-sizing: border-box;
}
.css-8mmkcg{
    font-family: "Spoqa Han Sans Neo",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    cursor: default;
    color: rgb(204, 204, 204);
    height: 20;
    width: 20;
    box-sizing: inherit;
    display: inline-block;
    fill: currentcolor;
    line-height: 1;
    stroke: currentcolor;
    stroke-width: 0;
}

.toggleSwitch_switch__hglrb {
    font-family: "Spoqa Han Sans Neo",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    box-sizing: inherit;
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
}
.toggleSwitch_switchTitle__1g_TJ{
    font-family: "Spoqa Han Sans Neo",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    box-sizing: inherit;
    color: #444;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -.03em;
    margin-right: 20px;
}
.toggleSwitch_switchLabel__2oz0J.toggleSwitch_switchChecked__SrqJl {
    font-family: "Spoqa Han Sans Neo",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    box-sizing: inherit;
    position: relative;
    display: inline-block;
    height: 26px;
    width: 50px;
    border-radius: 50px;
    cursor: pointer;
    background-color: #ff914d;
}

.toggleSwitch_switchCheckbox__3lrfj{
    box-sizing: inherit;
    outline: none;
    font-size: 1rem;
    border-radius: .5rem;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.SelectedLanguage_selectedLanguage__3AUIy {
    font-family: "Spoqa Han Sans Neo",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    list-style: none;
    box-sizing: inherit;
    margin: 0;
    display: flex;
    grid-gap: 10px;
    gap: 10px;
    background: #f2f2f2;
    padding: 8px 15px;
    height: 41px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 20px;
    color: #313131;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .1s ease-in;
}

.LanguageBar_languageIcon__Um7GQ.LanguageBar_transparent__3wlZf{
    font-family: "Spoqa Han Sans Neo",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    list-style: none;
    box-sizing: inherit;
    margin: 0;
    display: flex;
    grid-gap: 10px;
    gap: 10px;
    align-items: center;
    border: 1px solid #d0d0d0;
    border-radius: 100px;
    padding: 12px 20px 12px 15px;
    transition: all .1s ease-in;
    cursor: pointer;
    opacity: .3;
}

.SelectedLanguage_resetFilter__2EZuH {
	font-family: "Spoqa Han Sans Neo",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    list-style: none;
    box-sizing: inherit;
    font-size: 20px;
    color: #333;
    cursor: pointer;
}

.studyItem_studyItem__1Iipn studyItem_open__1PGn-{
    font-family: "Spoqa Han Sans Neo",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    list-style: none;
    box-sizing: inherit;
    color: inherit;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 25px 0;
    width: 300px;
    height: 340px;
    background: #fff;
    border: 2px solid #d1d1d1;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    transition: .2s ease-in;
    opacity: 1;
}

.studyItem_content__1mJ9M{
    font-family: "Spoqa Han Sans Neo",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    color: inherit;
    cursor: pointer;
    box-sizing: inherit;
    margin: 0;
    margin-bottom: 24px;
    padding: 0;
    display: flex;
    grid-gap: 8px;
    gap: 8px;
    list-style: none;
}

.studyItem_language__20yqw{
    font-family: "Spoqa Han Sans Neo",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    color: inherit;
    cursor: pointer;
    list-style: none;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    width: 32px;
    height: 32px;
}

.studyItem_languageImage__1AfGa{
    font-family: "Spoqa Han Sans Neo",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    color: inherit;
    cursor: pointer;
    list-style: none;
    box-sizing: inherit;
    width: 32px;
    height: 32px;
}

.studyItem_userInfo__1KkGa, .studyItem_viewsAndComment__1Bxpj {
    display: flex;
    grid-gap: 10px;
    gap: 10px;
}

.studyItem_userInfo__1KkGa {
    font-family: "Spoqa Han Sans Neo",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    list-style: none;
    color: inherit;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -.04em;
    box-sizing: inherit;
    align-items: center;
    display: flex;
    grid-gap: 10px;
    gap: 10px;
}

.studyItem_info__OFIQU{
    font-family: "Spoqa Han Sans Neo",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    list-style: none;
    color: inherit;
    cursor: pointer;
    box-sizing: inherit;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    justify-content: space-between;
    letter-spacing: -.04em;
    margin-top: 8px;
}

.studyItem_viewsAndComment__1Bxpj{
	font-family: "Spoqa Han Sans Neo",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    list-style: none;
    color: inherit;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -.04em;
    box-sizing: inherit;
    display: flex;
    grid-gap: 10px;
    gap: 10px;
}

.studyItem_infoItem__3vxSf{
    font-family: "Spoqa Han Sans Neo",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    list-style: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -.04em;
    box-sizing: inherit;
    display: flex;
    align-items: center;
    color: #999;
    grid-gap: 5px;
    gap: 5px;
}

li {
	padding: 0;
}

.studyItem_badgeWrapper__3AW7k {
	display: flex;
	align-items: center;
	grid-gap: 3px;
	gap: 3px;
}

.badge_badge__ZfNyB {
	height: 28px;
	font-weight: 800;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: -.04em;
}

.badge_study__39LDm {
	margin-top: 15px;
	border-radius: 20px;
	padding: 4px 12px;
	background: #efefef;
	color: #656565;
}

.studyItem_schedule__3oAnA {
	display: flex;
	font-size: 14px;
	grid-gap: 8px;
	gap: 8px;
	color: #999;
	font-weight: 500;
	margin-top: 20px;
}

.studyItem_scheduleTitle__1KN_9 {
	letter-spacing: -4%;
}

p {
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

.studyItem_schedule__3oAnA {
	display: flex;
	font-size: 14px;
	grid-gap: 8px;
	gap: 8px;
	color: #999;
	font-weight: 500;
	margin-top: 20px;
}

.studyItem_title__2B_2o {
	font-size: 17px;
	min-height: 50px;
	line-height: 28px;
	font-weight: 500;
	letter-spacing: -.05em;
	margin: 7px 0 10px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	word-break: break-all;
	overflow: hidden;
}

.studyItem_positionList__1jzi_ {
	height: 22px;
	display: flex;
	margin-bottom: 20px;
	grid-gap: 3px;
	gap: 3px;
}

.studyItem_position__2sRRD {
	padding: 3px 10px;
    grid-gap: 5px;
    gap: 5px;
    height: 22px;
    background: #f2f4f8;
    border-radius: 15px;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    color: #3e86f5;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.studyItem_content__1mJ9M {
	margin-bottom: 24px;
	padding: 0;
	display: flex;
	grid-gap: 8px;
	gap: 8px;
	list-style: none;
}

.studyItem_border__2zAjs {
	border-top: 2px solid #f2f2f2;
}

.studyItem_bookmark__2YtKX {
	display: block;
	width: 28px;
	height: 28px;
	position: absolute;
	top: 40px;
	right: 20px;
}

.studyItem_content__1mJ9M {
	margin-bottom: 24px;
	padding: 0;
	display: flex;
	grid-gap: 8px;
	gap: 8px;
	list-style: none;
}

.studyItem_language__20yqw, .studyItem_languageImage__1AfGa {
	width: 32px;
	height: 32px;
}

.studyItem_userInfo__1KkGa, .studyItem_viewsAndComment__1Bxpj {
	display: flex;
	grid-gap: 10px;
	gap: 10px;
}

.studyItem_info__OFIQU {
	display: flex;
	font-size: 14px;
	font-weight: 500;
	justify-content: space-between;
	letter-spacing: -.04em;
	margin-top: 8px;
}

.avatar_user__1Pgut {
	display: flex;
	align-items: center;
	position: relative;
}

.avatar_userImg__hogPI {
	display: block;
	border-radius: 50%;
	object-fit: cover;
}

.card {
	font-family: "Spoqa Han Sans Neo",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    list-style: none;
    box-sizing: inherit;
    color: inherit;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 10px 0;
    width: 300px;
    height: 340px;
    background: #fff;
    border: 2px solid #d1d1d1;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    transition: .2s ease-in;
    opacity: 1;
    margin-bottom: 30px;
}

/* .studyItem_schedule__3oAnA{ */
/*     font-family: "Spoqa Han Sans Neo",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif; */
/*     list-style: none; */
/*     cursor: pointer; */
/*     box-sizing: inherit; */
/*     display: flex; */
/*     font-size: 14px; */
/*     grid-gap: 8px; */
/*     gap: 8px; */
/*     color: #999; */
/*     font-weight: 500; */
/*     margin-top: 20px; */
/* } */

/* .studyItem_scheduleTitle__1KN_9{ */
/*     font-family: "Spoqa Han Sans Neo",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif; */
/*     list-style: none; */
/*     cursor: pointer; */
/*     font-size: 14px; */
/*     color: #999; */
/*     font-weight: 500; */
/*     box-sizing: inherit; */
/*     margin: 0; */
/* } */

/* .studyItem_title__2B_2o{ */
/*     font-family: "Spoqa Han Sans Neo",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif; */
/*     list-style: none; */
/*     color: inherit; */
/*     cursor: pointer; */
/*     box-sizing: inherit; */
/*     font-size: 17px; */
/*     min-height: 50px; */
/*     line-height: 28px; */
/*     font-weight: 500; */
/*     letter-spacing: -.05em; */
/*     margin: 7px 0 10px; */
/*     display: -webkit-box; */
/*     -webkit-box-orient: vertical; */
/*     -webkit-line-clamp: 2; */
/*     word-break: break-all; */
/*     overflow: hidden; */
/* } */

/* .studyItem_positionList__1jzi_{ */
/*     font-family: "Spoqa Han Sans Neo",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif; */
/*     color: inherit; */
/*     cursor: pointer; */
/*     box-sizing: inherit; */
/*     list-style: none; */
/*     margin: 0; */
/*     padding: 0; */
/*     height: 22px; */
/*     display: flex; */
/*     margin-bottom: 20px; */
/*     grid-gap: 3px; */
/*     gap: 3px; */
/* } */
/* .class="studyItem_position__2sRRD"{ */
/*     font-family: "Spoqa Han Sans Neo",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif; */
/*     cursor: pointer; */
/*     list-style: none; */
/*     box-sizing: inherit; */
/*     margin: 0; */
/*     padding: 3px 10px; */
/*     grid-gap: 5px; */
/*     gap: 5px; */
/*     height: 22px; */
/*     background: #f2f4f8; */
/*     border-radius: 15px; */
/*     font-weight: 700; */
/*     font-size: 13px; */
/*     line-height: 16px; */
/*     color: #3e86f5; */
/* } */