<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hub.mapper.BoardMapper">

<!--  검색 기능 -->
	<sql id="criteria">
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach item='type' collection="typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()">
							title like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'C'.toString()">
							content like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'W'.toString()">
							writer like '%'||#{keyword}||'%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>
 

	<insert id="insert">
<!-- 		insert into boardtbl (bno,title,content,uidkey) -->
<!-- 		values (seq_board.nextval, #{title}, #{content}, #{writer}) -->
	</insert>

<!-- 	<insert id="insertSelectKey"> -->

<!-- 		<selectKey keyProperty="bno" order="BEFORE" -->
<!-- 			resultType="long"> -->
<!-- 			select seq_board.nextval from dual -->
<!-- 		</selectKey> -->

<!-- 		insert into boardtbl (bno,title,content, writer) -->
<!-- 		values (#{bno}, -->
<!-- 		#{title}, #{content}, #{writer}) -->
<!-- 	</insert> -->

	<!-- 상세보기 -->
	<select id="read" resultType="org.hub.domain.BoardVO">
		select * from board_tbl where bno =
		#{bno}
	</select>

	<!--  삭제 -->
	<delete id="delete">
		delete board_tbl where bno = #{bno}
	</delete>

	<!-- 수정 -->
<!-- 	<update id="update"> -->
<!-- 		update boardtbl -->
<!-- 		set title= #{title}, -->
<!-- 		content=#{content}, -->
		
		
<!-- 		where bno = -->
<!-- 		#{bno} -->
<!-- 	</update> -->

<!-- 메인화면 출력 / 페이징 -->
<!-- <select id="getListWithPaging" resultType="org.hub.domain.BoardVO"> -->
<!--   <![CDATA[ -->
<!--     SELECT  -->
<!--       b.bno, b.regdate, b.title, b.uidkey, b.deadline, b.cnt, b.replycnt, -->
<!--       s.stack_name, s.stack_image, bs.stack_num -->
<!--     FROM ( -->
<!--       SELECT /*+INDEX_DESC(boardtbl pk_board)*/ -->
<!--         ROWNUM RN, bno, regdate, title, uidkey, deadline, cnt, replycnt -->
<!--       FROM boardtbl -->
<!--       WHERE -->
<!--     ]]> -->
<!--       <include refid="criteria"></include> -->
<!--     <![CDATA[ -->
<!--         AND rownum <= #{pageNum} * #{amount} -->
<!--     ) b -->
<!--     INNER JOIN board_stacktbl bs ON b.bno = bs.bno -->
<!--     INNER JOIN stacktbl s ON bs.sno = s.sno -->
<!--     WHERE rn > (#{pageNum} - 1) * #{amount} -->
<!--   ]]> -->
  
  
<!-- </select> -->

<select id="getListWithPaging" resultType="org.hub.domain.BoardVO">
   <![CDATA[
SELECT bno, deadline, title, uname, fnames, snames, cnt, replycnt, profileImage
FROM (
SELECT /*+INDEX_DESC(board_tbl pk_board) */
rownum rn, b.bno, b.deadline, b.title, u.unickname AS uname, a.uploadPath  AS profileImage,
   (
    SELECT LISTAGG(f.fname, ',') WITHIN GROUP (ORDER BY f.fname) AS combined_fname 
    FROM boardfield_tbl bf 
    JOIN field_tbl f ON bf.fno = f.fno
    WHERE bf.bno = b.bno
  	) AS fnames,
   (
    SELECT LISTAGG(s.sname, ',') WITHIN GROUP (ORDER BY s.sname) AS combined_sname
    FROM boardstack_tbl bs
    JOIN stack_tbl s ON bs.sno = s.sno 
    WHERE bs.bno = b.bno
   ) AS snames, cnt, replycnt  
FROM (
	SELECT bno, deadline, title, uidkey, cnt, replycnt
	FROM board_tbl
	ORDER BY bno desc
) b
JOIN user_tbl u
ON b.uidkey = u.uidkey
JOIN attach_tbl a
ON u.uidkey = a.uidkey
WHERE
]]>

<include refid="criteria"></include>

<![CDATA[
 rownum <= #{pageNum} * #{amount}
) 
WHERE rn > (#{pageNum} - 1) * #{amount}
]]>
</select>



	<!--  페이지 수 계산 -->
	<select id="getTotalCount" resultType="int">
		select count(*) from board_tbl 
		where

		<include refid="criteria"></include>

		bno > 0

	</select>
	
	<update id="updateReplyCnt">
		update board_tbl set replycnt = replycnt + #{amount} where bno = #{bno}
	</update>

</mapper>