<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hub.mapper.ReplyMapper">

	<insert id="insert">
		insert into reply_tbl (rno, bno, reply, replyer, uidkey)
		values(seq_reply.nextval, #{bno}, #{reply}, #{replyer}, #{uidKey})	
	</insert>
	
	<select id="read" resultType="org.hub.domain.ReplyVO">
		select * from reply_tbl where rno = #{rno}
	</select>
	
	<delete id="delete">
		delete from reply_tbl where rno = #{rno}
	</delete>
	
	<update id="update">
		update reply_tbl set reply = #{reply}, updatedate = sysdate 
		where rno = #{rno}
	</update>
	
	<!-- 	<select id="getListWithPaging"
		resultType="org.hub.domain.ReplyVO">

		select rno, bno, reply, replyer, replyDate, updatedate
		from tbl_reply
		where bno = #{bno}
		order by rno asc

	</select -->

<select id="getListWithPaging" resultType="org.hub.domain.ReplyVO">

  <![CDATA[
 select  rno, bno, reply, replyer, replydate, updatedate, uidkey
 from 
   (
    select /*+INDEX(reply_tbl idx_reply) */ 
      rownum rn,  rno, bno, reply, replyer, replyDate, updatedate, uidkey
    from reply_tbl
    where bno =  #{bno}
    and rno > 0
    and rownum <= #{cri.pageNum} * #{cri.amount}
   ) where rn > (#{cri.pageNum} -1) * #{cri.amount}
]]>

</select>

<select id="getCountByBno" resultType="int">
<![CDATA[
select count(rno) from reply_tbl where bno = #{bno}
]]>
</select>
	
</mapper>