<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.hub.mapper.UserStackMapper">

	<insert id="insert">
		insert into userstack_tbl (uidkey, sno)
		values (#{uidKey},#{sno})
	</insert>
	
	<delete id="delete">
		delete from userstack_tbl where uidkey=#{uidkey} and sno=#{sno}
	</delete>
	
	<select id="findByUidKey" resultType="org.hub.domain.UserStackVO">
		select*from userstack_tbl where uidkey = #{uidkey}
	</select>

	<delete id="deleteAll">
		delete userstack_tbl where uidkey = #{uidKey} 
	</delete>

</mapper>